/* styles for input field*/

.FieldsContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.FieldsContainer .InputLabel {
  font-family: poppinRegular;
  color: #64748b;
  font-size: 0.85em;
}

.FieldsContainer .inputContainer {
  padding: 0 8px;
  height: 45px;
  background-color: transparent;
  border: solid 2px #b6b5bc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.FieldsContainer .inputField {
  font-family: poppinRegular;
  color: #64748b;
  font-size: 100%;
  width: 50%;
  border: none;
}
.FieldsContainer .EyesIcone {
  display: flex;
  justify-content: center;
  align-items: center;
}

.FieldsContainer .ErrorMsg {
  font-size: 0.7em;
  color: #cc0000;
  font-family: poppinRegular;
}

.FieldsContainer .AppleAdjust {
  font-family: poppinLight;
  font-size: 16px;
}

.FieldsContainer input:focus {
  outline: none;
}

/*Media querry*/
@media screen and (max-width: 500px) {
  .FieldsContainer .inputField {
    font-size: 0.8em;
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
}
