/*Style for Toast Component*/
@keyframes ToastAnimation {
  from {
    top: -40px;
  }
  to {
    top: 30px;
  }
}

.ContainerToast {
  position: absolute;
  top: -40px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: forwards ToastAnimation ease-in-out 0.6s;
}
.Toast {
  width: 80%;
  max-width: 380px;
  box-shadow: 0 0 6px #b6b5bc;
  padding: 14px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.SuccessMessage {
  background-color: #00cc00;
}
.FailedMessage {
  background-color: #cc0000;
}

.Message {
  color: #ebf1ff;
  font-size: 0.85em;
  font-family: poppinMedium;
  text-align: center;
}
